.skills-container{
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
    justify-content: center;
}

.skills-content{
    background-color: var(--container-color-dark);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding:2rem 4rem;
    border-radius: 1.25rem;
    box-shadow: rgba(242, 242, 245, 0.25) -30px -50px 100px -10px, rgba(236, 232, 232, 0.3) 30px 40px 60px -30px, rgba(230, 240, 249, 0.35) 0px -2px 6px 0px inset;
}

.skills-title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills-box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills-group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills-data{
    display: flex;
    column-gap: 0.5rem;
}

.skills .bx-badge-check{
    font-size: 1rem;
    color: var(--title-color);
}

.skills-name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
    text-align: center;
}

.skills-img{
    width: 60px;
    height: 60px;
}

.skills-level{
    font-size: var(--tiny-font-size);
}

@media screen and (max-width:992px) {
    .skills-container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}

@media screen and (max-width:576px) {
    .skills-container{
        grid-template-columns: 1fr;
    }

    .skills-content{
        padding: 1.5rem;
    }
}

@media screen and (max-width:576px) {
    .skills-box{
        column-gap: 1.25rem;
    }

    .skills-name{
        font-size: var(--small-font-size);
    }
}