.about-container{
    /* width: 100vw; */
    gap: 2rem;
}

.about-description{
    padding: 0 4rem;
    font-size: 20px;
    margin-bottom: var(--mb-2-5);
    color: #9e9e9e;
    /* text-align: center; */
}

.about-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .about-container{
        flex-direction: column;
        gap: 2.5rem;
    }

    .about-data{
        text-align: center;
    }

    .about-description{
        padding: 0.5rem;
        margin-bottom: 2rem;
    }
}