.tilt-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:space-evenly;
    align-items: center;
}

.tilt-card {
    width: 300px;
    height: 400px;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.tilt-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.tilt-card-content h2{
    color: #fff;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-button {
    max-width:122px;
    margin: 5px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button a{
    color: var(--title-color-dark);
}

.tilt-cards-container a{
    padding: 10px;
    color: #ccc;
    text-decoration: none;
    background-color: #007bff;
    border-radius: 50%;
}

.tilt-cards-container a i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.tilt-cards-container a i:hover{
    transform: translateX(0.25rem);
}

@media screen and (max-width:992px) {
    .tilt-card {
        width: 250px;
        height: 350px;
    }
}